<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOBILP" />
                <binding name="BasicHttpBinding_IOBILP1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AdmBalanceoILP/wsOBILP.OBILP.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOBILP"
                contract="AdmBalanceoILP.IOBILP" name="BasicHttpBinding_IOBILP" />
            <endpoint address="http://msi/AdmBalanceoILP/wsOBILP.OBILP.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOBILP1"
                contract="AdmBalanceoILP.IOBILP" name="BasicHttpBinding_IOBILP1" />
        </client>
    </system.serviceModel>
</configuration>