<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OnBaseQueue" value="En Progreso"/>
    <add key="ConnectionString" value="Data Source=.;Database=AdmBalanceo_OB_ILP;User Id=sa;Password=sa1234"/>
    <add key="WorkingStoredProcedure" value="EXEC [AdmBalanceo_OB_ILP].[dbo].[SPC_GetOnBaseUserInformation]"/>
    <!--<add key="ConnectionString" value="Data Source=SRVONBASEDEV;Database=AdmBalanceo_OB_ILP;User Id=hsi;Password=wstinol"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOBILP" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AdmBalanceoILP/wsOBILP.OBILP.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOBILP"
                contract="AdmBalanceoILP.IOBILP" name="BasicHttpBinding_IOBILP" />
    </client>
  </system.serviceModel>
</configuration>